:root {
  --inputColor1: #f0f4f7;
  --inputColor2: #e2eaf0;
  --inputColor3: rgba(218, 67, 83, 0.1);
  --inpurColor4: #6bca3e;
  --Color5: #902156;
  --Color6: #313335;
  --Color7: #da4353;
  --Color8: rgba(218, 67, 83, 0.4);
  --blackColor: #313335;
  --GiroyFont: gilroy, sans-serif;
  --Roboto: roboto, sans-serif;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("images/Fonts/Gilroy/Gilroy-Regular.woff");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("images/Fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  max-width: 1140px;
  margin: auto;
}

.main {
  width: 50%;
  padding: 2% 10% 6% 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mainText {
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f4f7;
}

.Candy_photo {
  width: 55px;
  height: 49px;
  margin-left: 30px;
  margin-top: 40px;
}

.GetCangy {
  margin: 10px 0 16px;
}

.firstForm {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.firstInput {
  padding-left: 20px;
  display: block;
  width: 100%;
  height: 60px;
  background: var(--inputColor1);
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mainButton:hover {
  background: none;
  border: 2px solid var(--inpurColor4);
  outline: none;
  cursor: pointer;
}

.firstInput:active {
  background: white;
}

.firstInput:invalid {
  background: var(--inputColor3);
  border: 2px solid var(--Color8);
  color: var(--Color7);
}

.firstInput:invalid + .mainButton {
  border: 2px solid var(--Color8);
  background: white;
}

.firstInput:hover {
  border: 2px solid #6bca3e;
  background: var(--inputColor2);
}

.mainButton {
  position: absolute;
  top: 10px;
  right: -10px;
  height: 45px;
  width: 45px;
  display: inline-block;
  background: white;
  border-radius: 50%;
  border: 2px solid #e2eaf0;
}

.h1text {
  font-size: 48px;
  line-height: normal;
  color: var(--blackColor);
  margin-bottom: 0;
}

.h1text,
.h3text,
.h4text,
.GetCangy {
  font-family: var(--GiroyFont);
}

.h3text {
  margin: 0;
}

.link,
.FooterLeftLink,
.footerA {
  text-decoration: none;
  font-family: var(--Roboto);
  font-size: 12px;
  line-height: normal;
  color: #a8b3c2;
}
/* working with aside*/
aside {
  width: 50%;
  padding: 3% 2% 5% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.headerlist {
  padding-left: 1px;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0 69px 18px 2px;
  margin-top: 29px;
  border-bottom: 1px solid #f0f4f7;
}

.menulink {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #f0f4f7;
}

.menulink:hover {
  width: 21px;
  height: 21px;
  border: 2px solid #6bca3e;
}

.drop {
  width: 4px;
  height: 16px;
  margin-top: 10px;
}

.asidelink {
  align-self: center;
}

.asideList {
  display: flex;
  width: 24px;
  height: 24px;
}

section {
  padding-bottom: 13px;
  margin-right: 43px;
  border-bottom: 1px solid #f0f4f7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sectionvalue1 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 39%;
  margin: 7px 0 0 16px;
}

.sectionvalue2 {
  display: flex;
  justify-content: space-between;
  height: 50%;
  margin-left: 16px;
}

.asideSpan {
  font-family: var(--Roboto);
  font-size: 10px;
  color: var(--Color5);
  letter-spacing: 1px;

}

.link {
  width: 76px;
  height: 28px;
  border: 2px solid #e2eaf0;
  border-radius: 22px;
  box-sizing: border-box;
  padding: 9px 25px;
  font-family: var(--GiroyFont);
  font-size: 10px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--Color6);
}

.link:hover {
  border: 2px solid #6bca3e;
  color: #6bca3e;
}

.linkForSweets {
  background: #902156;
  border-radius: 22px;
  font-family: var(--GiroyFont);
  font-size: 14px;
  padding: 14px 175px;
  color: #fff;
  text-decoration: none;
}

.linkForSweets:hover {
  background-color: #ae2968;
}

.mainText,
.simplP,
.ft_info,
.details {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.sweetslink {
  margin-top: 47px;
  margin-bottom: 32px;
}
/*FOOTER*/
footer {
  background: #313335;
}

.footerConteiner {
  display: flex;
  background: #313335;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
  padding-bottom: 15px;
}

.footerLeft {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 6% 8% 0% 1%;
  align-items: baseline;
  box-sizing: border-box;
  padding-top: 251px;
}

.footerlist_left {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-self: center;
}

.footerRight {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 251px 14px 60px 65px;
}

.details {
  font-size: 11px;
  color: #6e7680;
  align-self: center;
}

.h4text {
  color: #fff;
  font-family: var(--GiroyFont);
  font-size: 14px;
  line-height: normal;
}

.ft_info {
  font-family: var(--Roboto);
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 6px;
}

.contakts {
  flex-basis: auto;
}

.content {
  width: 50%;
}

.lastdiv {
  width: 100%;
  text-align: right;
}

.footerlist_left {
  padding: 0;
  line-height: 1.5;
  margin-top: -5px;
}

.footerspan {
  color: var(--inpurColor4);
  font-family: var(--Roboto);
  font-size: 12px;
}

.footerA {
  padding: 5px 0;
}
